<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiPkmv8dTwEAMIGSo7zHQ5zGSMOe5r9Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>251065056372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminApp</string>
	<key>PROJECT_ID</key>
	<string>admins-app-d6190</string>
	<key>STORAGE_BUCKET</key>
	<string>admins-app-d6190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251065056372:ios:8960bd280fe9b5cc22e521</string>
</dict>
</plist>